includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    phpVersion: 80100
    paths:
        - src
        - persian-kit.php
        - uninstall.php
    scanDirectories:
        - packages
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - tests/stubs/wp-cli.php
        - tests/stubs/contact-form-7.php
        - tests/stubs/acf.php
        - tests/stubs/forminator.php
        - tests/stubs/gravityforms.php
        - tests/stubs/wpforms.php
        - tests/stubs/polylang.php
        - tests/stubs/woocommerce-email-editor.php
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
